html {
  color: #BFB9A7;
}


header {
  background-color: #40373C;
  padding: 15px 50px 15px 50px;
  display: flex;
  justify-content: space-between;
}

nav {
  background-color: black;
  text-transform: uppercase;
  padding: 12px;
  margin: 12px;
  width: 450px;
  display: flex;
  justify-content: space-around;
}

#title {
  font-size: 30px;
}

a {
  color: #BFB9A7;
  padding: 1px;
  font-size: 18px;
  text-decoration: none;
}

main {
  padding-top: 15px;
  padding-bottom: 40px;
}

#imgcontainer {
  display: flex;
  justify-content: center;
}

#copycontainer {
  display: flex;
  justify-content: space-around;
  margin: 40px;
}

.title {
  text-transform: uppercase;
  color: #403E38;
  font-weight: bold;
}

.column {
  position: relative;
  padding: 10px;
}

.colimg {
  float: left;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 15px;
  border-width: medium;
  border-style: double;
  border-color: grey;
}

.endlink {
  float: right;
  color: orange;
  font-size: 15px;
  padding-right: 10px;
}

footer {
  background-color: #40373C;
  padding: 15px 50px 15px 50px;
}
