html {
  color: #BFB9A7;
}


header {
  background-color: #40373C;
  padding: 15px 50px 15px 50px;
  display: flex;
  justify-content: space-between;
}

nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 30px;
  width: 300px;
}

#title {
  font-size: 30px;
}

a {
  color: #BFB9A7;
}

#imgcontainer {
  display: flex;
  justify-content: center;
}

#copycontainer {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

.column {

}

.title {
  text-transform: uppercase;
  color: #403E38;
  margin-bottom: 10px;
}

.colimg {
  float: left;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 15px;
  border-width: medium;
  border-style: double;
  border-color: grey;
}

.endlink {
  float: right;
  color: orange;
}

footer {
  background-color: #40373C;
  padding: 15px 50px 15px 50px;
}
