html {
  color: #BFB9A7;
}


header {
  background-color: #40373C;
  padding: 15px 80px 15px 80px;
  display: flex;
  justify-content: space-between;
  margin: 0px 8px 0px 8px;
}

nav {
  background-color: black;
  text-transform: uppercase;
  padding: 12px 12px 12px 12px;
  margin: 12px 0px 12px 12px;
  width: 450px;
  display: flex;
  justify-content: space-around;
  align-self: center;
}

.tagline {
  align-self: flex-start;
}

.buttoncontainer {
  align-self: flex-end;
}

.maintitle {
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 8px;
}

a {
  color: #BFB9A7;
  font-size: 18px;
  text-decoration: none;
}

main {
  margin: 90px 0px 30px 0px;
}

.imgcontainer {
  display: flex;
  padding: 15px 80px 15px 80px;
  justify-content:space-between;
  flex-flow: row;
}

.hero {
  width: 450px;
}

.slogan {
  width: 630px;
  height: 300px;
}

.copycontainer {
  display: flex;
  justify-content: space-around;
  margin: 70px;
}

.title {
  text-transform: uppercase;
  color: #403E38;
  font-weight: bold;
}

.column {
  position: relative;
  padding: 10px;
}

.colimg {
  float: left;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 15px;
  border-width: medium;
  border-style: double;
  border-color: grey;
  height: 80px;
  width: 80px;
}

.endlink {
  float: right;
  color: orange;
  font-size: 15px;
  padding-right: 10px;
}

footer {
  background-color: #40373C;
  padding: 15px 80px 15px 80px;
  margin: 0px 8px 0px 8px;
}
