html {
  font-family: fantasy;
  background-color: beige;
}

.headeralign {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid black;
}

.restaurant {
  justify-content: flex-start;
  font-size: 25px;
}

.navbar {
  justify-content: flex-end;
  background-color: dimgrey;
  padding: 15px;
  border: 2px black solid;
  display: flex;
}


.navdiv {
  align-items: space-between;
}

.navlink {
  color: beige;
  text-decoration: none;
}

a:hover {
  color: lightgreen;
}

.a_align {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  border-bottom: 2px solid black;
  background-color: dimgrey;
  background-image: url(bgimg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-blend-mode: lighten;
  color: honeydew;
  font-size: 20px;
}

.greeting {
  display: flex;
  padding: 20px;
  font-size: 30px;
}

.title {
  text-transform: uppercase;
}

.ordernow {
  padding: 20px;
}

.menu_button {
  border: 1px solid black;
  border-radius: 10px;
  display:flex;
  justify-content: center;
  width: 5%;
  padding: 15px;
  margin-top: 25px;
  background-color: oldlace;
  color: green;
}

.link {
  text-decoration: none;
  color:olive;
}

.b_align {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
}

.col1 {
  justify-content: flex-start;
  max-width: 33%;
}

.col2 {
  justify-content: flex-start;
  max-width: 33%;
}

.col3 {
  justify-content: flex-start;
  max-width: 33%;
}

.subheader {
  font-size: 25px;
}

.info {
  padding: 0px;
}
.inneralign {
  display: flex;
}

.insta_align {
  flex-flow: row;
  justify-content: space-around;
}

.foodimg {
  height: 100px;
  width: 100px;
  border: 1px dimgrey solid;
  border-radius: 80px;
}

footer {
  border-top: 2px solid black;
  padding: 20px;
  background-color: dimgrey;
  color: beige;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.footeralign {
  justify-content: flex-start;
}

.pacino {
  height: 50px;
  width: 50px;
  background-color: black;
  padding: 0px 5px 0px 5px;
  border: 1px oldlace solid;
  border-radius: 30px;
}

.menuheader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-size: 40px;
  background-image: url(menuimg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-blend-mode: lighten;
  background-color: indianred;
  border-bottom: 2px solid black;
}

.menubody {
  display: flex;
  justify-content: space-around;
  padding: 20px 10px 30px 10px;
}

.menucol1 {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.menucol2 {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.menu_item {
  width: 500px;
  max-width: 45%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.menu_name {
  font-size: 20px;
  justify-content: flex-start;
}

.item_info {
  font-size: 14px;
}

.menu_price {
  font-weight: bold;
  font-size: 20px;
  justify-content: flex-end;
  margin-left: 20px;
}

.item_description {
  font-weight: lighter;
  font-size: 12px;
}
